1.GET,POST,PUT,DELETE 
2.Cel putin doua rute pentru fiecare HTTP verb
3.Intuitiv si usor de folosit
4.Bazat pe resurse 
5.Idempotenta si siguranta proprietatilor pentru verbele HTTP
6. Status codes
7.JSON based
8.POSTMAN collections

Idei:
    -> O aplicatie care iti ofera informatii despre o anumita locatie si iti permite sa 
        salvezi locatii de preferinta pentru a-le analiza mai tarziu.Totul trebuie sa fie bazat
        pe autentificare pe baza de token.
    -> Deocamdata avem partea care iti aduce informatii dar nu este foarte interactiva ceea ce trebuie rezolvat
    -> Locatiile salvate sa poate fi comparate intre ele
    -> Addition: Un API care sa poate sa trimita oferte pentru hoteluri locale
    -> Pagina de admin cu feature-urile deja implementate

API :

   |-> endpoint: api/users
    | -->GET: GET own user details for its profile
    | -->PATCH: change data about a users profile
    | -->DELETE: delete the entire user profile
  |-> endpoint: api/login
    | -->POST:login data  
  |-> endpoint: api/register
    | -->POST:register data
   -> endpoint: api/locations?suggestion='Par'
    -->GET: get a list of locations for the keyword
   -> endpoint: api/categories/{category}
      | -->GET: gets the categorie data
      | -->POST: create a new category for the specified locations database
      | -->DELETE: delete a category by its name
        -->PATCH: change category name
    -> endpoint:api/categories/{category}/locations/{id}
      -->PUT: Add location to the respective category
      -->GET: Get data about the certain location in the category
      -->DELETE: Delete the location at the specified id







